@model LeagueOfLegendsFindTeamApp.Models.DatabaseModels.TeamType

<div class="card-header">
    <strong>Create new team type</strong>
</div>
<div class="card-body">
    @Html.ValidationSummary(false, "", new { @class = "ml-3 text-danger" })
    @{
        using (Ajax.BeginForm("AddNewTeamType", "TeamType",
            new AjaxOptions { HttpMethod = "post", UpdateTargetId = "TeamTypeCard", InsertionMode = InsertionMode.Replace, OnSuccess = "LoadTable()" },
            new { id = "TeamTypeCard" }))
        {
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" }, })



            <button type="submit" class="btn btn-sm btn-success float-right mt-5"><i class="zmdi zmdi-plus mr-2" id="BtnAdd" name="BtnAdd"></i>Create</button>
        }

        <button type="button" class="btn btn-sm btn-secondary float-left mt-5" name="BtnReturn" id="BtnReturn" onclick="GoToTableForm()"><i class="zmdi zmdi-long-arrow-return mr-2"></i>Return</button>

    }
</div>


