@model List<LeagueOfLegendsFindTeamApp.Models.DatabaseModels.Position>

<div class="card-header">
    <strong>Positions list</strong>
    <button type="button" class="btn btn-sm btn-success float-right" id="BtnCreateNew" name="BtnCreateNew" onclick="GoToCreateForm()"><i class="zmdi zmdi-file-plus mr-2"></i>Create new position</button>

</div>
<div class="card-body">
    <table id="PositionsTable" class="table table-sm table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th style="width: 10%">Id</th>
                <th>Position name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var position in Model)
            {
                <tr onclick="GoToModificationForm(@Html.Raw(position.PositionId))">
                    <td class="pl-2">@Html.Name(position.PositionId.ToString() + ". ")</td>
                    <td class="pl-2">@Html.Name(position.Name)</td>
                </tr>

            }
    </table>
</div>

