<div class="menu-sidebar2__content js-scrollbar1">
    <div class="account2">
        <div class="image img-cir img-120">
            <img src="~/Content/images/icon/avatar-big-01.jpg" alt="John Doe" />
        </div>
        <h4 class="name">john doe</h4>
        <a href="#">Sign out</a>
    </div>
    <nav class="navbar-sidebar2">
        <ul class="list-unstyled navbar__list">
            <li class="active has-sub">
                <a class="js-arrow" href="#">
                    <i class="fas fa-tachometer-alt"></i>Dashboard
                    <span class="arrow">
                        <i class="fas fa-angle-down"></i>
                    </span>
                </a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a href="#">
                            <i class="fas fa-tachometer-alt"></i>Dashboard 1
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-chart-bar"></i>Inbox
                </a>
                <span class="inbox-num">3</span>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-shopping-basket"></i>eCommerce
                </a>
            </li>
        </ul>
    </nav>
</div>